<div class="alert alert-success" role="alert" ng-if="$ctrl.isFormSubmitted && $ctrl.isRegisterSuccess">
  Registration Successful
</div>
<div class="alert alert-danger" role="alert" ng-if="$ctrl.isFormSubmitted && !$ctrl.isRegisterSuccess">
  Looks like something is not quite right
</div>

<form name="registerForm" class="form-signin" novalidate>
  <h2 class="form-signin-heading">Register</h2>
  <input name="usernameInput" type="text" class="form-control" placeholder="UserName" required autofocus data-ng-model="$ctrl.username">
  <!--<input name="emailInput" type="email" class="form-control" placeholder="Email address" required autofocus data-ng-model="$ctrl.email">-->
  <input name="passwordInput" type="password" class="form-control" placeholder="Password" required data-ng-model="$ctrl.password">
  <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="$ctrl.register()">Register</button>
  <a class="btn btn-lg btn-default btn-block" href="#/login">Cancel</a>
  
  <p class="text-danger">{{message}}</p>
</form>